  body{
    background-color: rgb(247, 245, 243);
  }
  header {
    background-image: url('../Another homework/images of Another homework/image of websearch/creative-folk.png');
        }
  .bar-search {
    margin: 30px;
    text-align: center;
  }
  .grid-item {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(248, 242, 242);
  }
  button {
    display: none;
  }
  img{
    margin: 5px;
    border: 1px solid rgb(216, 213, 213);
    padding: 10px;
  }