*{
    margin: 0;
}
body{
    background-image: url('../Anotherhomework/image/lab03/dark-wood.jpg');
    background-position: center;
}
header{
    background-image: url('../Anotherhomework/image/lab03/header.jpg');
    background-repeat: no-repeat;
    height: 130px;
}
.wrapper{
    border: 2px solid black;
    background-color: #f9f9f9;
    width: 940px;
}
ul li{
    padding: 5px;
    display: inline-block;
    list-style-type: none;
}
li a{
    margin:0 8px;
    font-weight: bold;
    text-decoration: none;
    color: #f9f9f9;
}
li a:hover{
    color: black;
}
#Home{
    color: black;
}
#Home:hover{
    color: #f9f9f9;
}
nav{
    background-color: gray;
}
figure{
    margin: 10px;
    display: inline-block;
    border: 1px solid rgb(187, 179, 179);
    padding: 8px;
}
hgroup{
    display: inline-block;
    width: 260px;
}
